html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Georgia', serif;
}

nav {
    background: #725649;
    padding: 10px 25px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; 
}

.logo-link {
    display: flex; 
    align-items: center;
    background: none !important; 
    padding: 0; 
    margin: 0 40px 0 0;
    border-radius: 0;
}

.logo-nav {
    height: 100px;
    width: auto;
    vertical-align: middle;
}

nav a {
    display: inline-block;
    background: #5a4236;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 28px;
    margin: 10px 15px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
}

nav a:hover {
    background: #4a372c;
}

.container {
    flex: 1;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 80px auto;
    width: 80%;
    max-width: 900px;
    text-align: center;
}

.card-home {
    background: #5a4236;      
    color: white;
    padding: 40px 50px;
    max-width: 450px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 10px 10px 0px #c79a80;
}

.card-home h1 {
    margin-top: 0;
    font-size: 22px;
}

.card-home p {
    margin-top: 15px;
    line-height: 1.6;
    font-size: 16px;
}

/*RODAPÉ*/
footer {
    margin-top: 90px;
    background: #725649;
    padding: 40px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
/*CADASTRO*/
 .card-form {
    background: #5a4236;     
    width: 550px;
    margin: 60px auto;
    padding: 35px 40px;
    border-radius: 25px;
    color: #ffffff;
    position: relative;
    box-shadow: 12px 12px 0px #c79a80;
}

/* Título */
.card-form h2 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 25px;
}

/* Labels */
.card-form label {
    display: block;
    margin-top: 12px;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Inputs e textarea */
.card-form input[type="text"],
.card-form input[type="date"],
.card-form input[type="time"],
.card-form input[type="password"],
.card-form input[type="email"],
.card-form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #d8c6bd;
    outline: none;
    background: transparent;
    color: #fff;
    margin-bottom: 15px;
}

/* textarea */
.card-form textarea {
    height: 90px;
    resize: none;
}

/* Botão */
.card-form button {
    background: #8b6d5c;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin: 10px auto 0;
    transition: 0.2s;
}

.card-form button:hover {
    background: #735545;
}
.link-form {
    color: #ffffff;
    background: #8b6d5c;
    padding: 4px;
    text-decoration: none;
    border-radius: 5px;
}
/*LISTA DE COMPROMISSOS*/
.lista-compromissos {
    margin-top: 20px;
}

.compromisso-item {
    background: #d4aa8c;
    padding: 20px;
    margin: 25px 0;
    border-radius: 25px;
    border: 3px solid #b8896e;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.15);

    color: #4b3227;
}
.comp-concluido {
    background: #cfe6c8;
    border-color: #98c190;
}

.comp-concluido .titulo {
    text-decoration: line-through;
}

.done {
    color: #2d6e2d;
    font-weight: bold;
}

.compromisso-item .titulo {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
}

.compromisso-item .info {
    font-size: 14px;
    margin-bottom: 6px;
}

.compromisso-item .desc {
    font-size: 15px;
    margin-bottom: 12px;
}

/*BOTÕES*/
.botoes {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.btn {
    background: #6a5245;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s;
}

.btn:hover {
    background: #563f33;
}

.btn-danger {
    background: #a04b3d;
}

.btn-danger:hover {
    background: #7d3a2f;
}

hr {
    display: none;
}
