<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Agenda{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav>
        <a href="{{ url_for('index') }}" class="logo-link">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo Agenda" class="logo-nav">
        </a>
        <a href="{{ url_for('index') }}">Início</a>

        {% if session.get('usuario_id') %}
            <!-- Usuário logado -->
            <a href="{{ url_for('compromisso.cadastrar') }}">Cadastrar Compromisso</a>
            <a href="{{ url_for('compromisso.listar') }}">Listar</a>
            <a href="{{ url_for('usuario.logout') }}">Sair</a>
            
        {% else %}
            <!-- Usuário NÃO logado -->
            <a href="{{ url_for('usuario.login') }}">Login</a>
            <a href="{{ url_for('usuario.register') }}">Criar conta</a>
        {% endif %}
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <footer>
    Organize melhor o seu dia a dia!
</footer>
</body>
</html>
