{% extends 'base.html' %}

{% block content %}

{% if compromissos %}
<div class="card-form">
    <h2>Lista de Compromissos</h2>

    <div class="lista-compromissos">

        {% for c in compromissos %}
        <div class="compromisso-item {% if c.concluido %}comp-concluido{% endif %}">
            
            <p class="titulo">
                {% if c.concluido %}
                    {{ c.titulo }} <span class="done">(Concluído)</span>
                {% else %}
                    {{ c.titulo }}
                {% endif %}
            </p>

            <p class="info">{{ c.data }} às {{ c.hora }}</p>
            <p class="desc">{{ c.descricao }}</p>

            <div class="botoes">
                {% if not c.concluido %}
                    <a class="btn" href="{{ url_for('concluir', id=c.id) }}">Marcar concluído</a>
                {% else %}
                    <a class="btn" href="{{ url_for('desfazer', id=c.id) }}">Desfazer</a>
                {% endif %}

                <a class="btn" href="{{ url_for('editar', id=c.id) }}">Editar</a>
                <a class="btn btn-danger" href="{{ url_for('excluir', id=c.id) }}" onclick="return confirm('Excluir este compromisso?')">Excluir</a>
            </div>

        </div>
        {% endfor %}

    </div>

</div>
{% else %}
    <p>Nenhum compromisso cadastrado.</p>
{% endif %}

{% endblock %}
