{% extends 'base.html' %}

{% block content %}
<h2>Lista de Compromissos</h2>

{% if compromissos %}
    <ul>
        {% for c in compromissos %}
            <li class="{% if c.concluido %}concluido{% endif %}">
                
                {% if c.concluido %}
                    <p>{{ c.titulo }} (Concluído)</p>
                {% else %}
                    <strong>{{ c.titulo }}</strong>
                {% endif %}

                {{ c.data }} às {{ c.hora }} <br>
                {{ c.descricao }} <br><br>

                {% if not c.concluido %}
                    <a href="{{ url_for('concluir', id=c.id) }}">Marcar concluído</a> 
                {% else %}
                    <a href="{{ url_for('desfazer', id=c.id) }}">Desfazer</a> 
                {% endif %}

                <a href="{{ url_for('editar', id=c.id) }}">Editar</a> 
                <a href="{{ url_for('excluir', id=c.id) }}" onclick="return confirm('Excluir este compromisso?')">Excluir</a>

            </li>
            <hr>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum compromisso cadastrado.</p>
{% endif %}
{% endblock %}
